.footer {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 12px; /* optional: adds spacing between icons */
}

.footer-icon {
  width: 32px;
  height: 32px;
  display: block;
}

.linkedin-icon {
  width: 38px;
}