@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Raleway);


/* Header styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background: rgba(0, 0, 0, 0.5); /* Transparent background */
  color: white;
  z-index: 10;

}

/* Header title */
.header-title {
  font-family: 'Raleway';
  font-size: 1.5rem;
  font-style: normal;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
}

/* Burger menu */
.burger-menu {
  cursor: pointer;
}

.burger-bar {
  width: 25px;
  height: 2px;
  background: white;
  margin: 6px 16px;
}