@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
}

.header {
  align-items: stretch;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  justify-content: space-between;
  left: 0;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  letter-spacing: 0.17rem;
  margin-left: 1rem;
}

.title a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.title a:hover {
  color: #ffffff6c;
}

.hamburger {
  color: white;
  cursor: pointer;
  display: none;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.menu {
  display: flex;
  margin-right: 2rem;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  letter-spacing: 0.075rem;
}

.menu-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-link:hover {
  color: #ffffff6c;
}

/* Responsive */
@media (max-width: 600px) {
  .header {
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 0;
  }

  .hamburger {
    align-self: flex-end;
    display: block;
  }

  .menu {
    display: none;
    text-align: right;
    width: 100%;
  }

  .menu.open {
    display: block;
  }

  .menu ul {
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
  }

  .menu li {
    display: block;
    width: 100%;
  }

  .menu-link {
    display: block;
    padding: 0.5rem 0;
    text-align: right;
    width: 100%;
  }

  .title {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }
}

.button-reset {
  all: unset; /* resets all default styles */
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}