@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
  font-family: 'Roboto';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.1;
  letter-spacing: 0.35rem;
  margin-left:9rem;
}

p {
  font-size: 1.3em;
  margin-left:9rem;
  letter-spacing: 0.075rem;
}
